C:\Users\ROCH\eclipse-workspace\PlatformPFE\PlatformPFE-web\target\m2e-wtp\web-resources\META-INF\maven\tn.esprit\PlatformPFE-web\pom.properties
C:\Users\sofiene\mozitouneclipceworkspace\Pi\PlatformPFE\PlatformPFE-web\target\m2e-wtp\web-resources\META-INF\MANIFEST.MF
C:\Users\ASUS\eclipse-workspace\PI\PlatformPFE\PlatformPFE-web\target\m2e-wtp\web-resources\META-INF\maven\tn.esprit\PlatformPFE-web\pom.properties